div.owner-box
    flex-wrap: wrap
    width: 100%

div.bio-box
    flex-basis: 100%
    margin-bottom: 2rem
    padding: 2rem


@media screen and (min-width: 868px)//tablets  
    div.owner-box
        flex-direction: row
        align-items: flex-start
        
        span
            flex-basis: 45% 
    div.bio-box
        flex-basis: 45%
        padding-top: 0
        