div.gym-slider
    margin: 0
    height: 45vh
    // max-height: 30rem
   
    div.swiper-slide-wrapper, .swiper-slide-next, .swiper-slide-active
        width: 100% !important
        max-width: 75rem !important
        padding: 0
           
        span, img
            width: 100% !important
            height: 100% !important